<!--The content below is only a placeholder and can be replaced.-->

<div class='contaiverX'>
  <div class='container'>
      <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
        </div>
      <div fxLayout="row" fxLayout.xs="column"  fxLayoutAlign="space-between stretch" fxLayoutGap="10px">
    <div></div>
    <div>Video</div>
  </div>
</div>
</div>

 <div class="flex-container" 
 fxLayout="row" 
 fxLayout.xs="column"
 fxLayoutAlign="center center"
 fxLayoutAlign.xs="start"
 fxLayoutGap="10px">
<div class="flex-item" fxFlex="20%" fxFlex.xs="40%"> 1 </div>
<div class="flex-item" fxFlex #vr> Video </div>

</div>
